<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="zomato.js" type="text/javasript"></script>
    <title>Zomato Clone</title>
</head>
<body>
   <div id="header-img">
       <header>
           <div class="d-flex justify-content-center">
               <div class="nav-menu">
                   <a href="https://play.google.com/store/apps/details?id=com.application.zomato&_branch_match_id=971624175849810914&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXT8pL1ssp0U%2FJL8%2FLyU9M0a3STcxLKcrPTAEABp6kzyEAAAA%3D"><p class="text-white nav-link" id="getapp">Get the app</p></a>
                   <a href="login"><p class="h4 nav-link" id="loginarea" name="loginarea">Login/SignUp</p></a>
               </div>
           </div>
       </header>
       <div class="container">
           <div class="d-flex justify-content-center header-flex">
               <p class="zomato">Zomato</p>
           </div>
           <div class="d-flex justify-content-center mt-4">
                <form action="/login" method="GET"><input type="search" placeholder="Search for dishes or restaurants"class="search-box" name="search"/>
                <button class="search-btn"><i class="bi bi-search"></i></button>
           </div>
       </div>
   </div>
   <section id="second-section">
       <div class="container">
           <div class="row">
               <div class="col-md-3">
                   <a href="login">
                   <div class="card">
                       <img src="https://bigpitcher.co.in/shop-big-pitcher/wp-content/uploads/2020/08/WhatsApp-Image-2020-08-07-at-11.31.48-AM-1.jpeg" height="160px" nwidth="100%"/>
                       <div class="card-bottom">
                           <p class="h4 m-0 mt-2 text-center">Chicken</p>
                       </div>
                   </div></a>
               </div>
               <div class="col-md-3">
                   <a href="login">
                <div class="card">
                    <img src="https://3.bp.blogspot.com/-wj89sYT_y74/We9BzE-nmvI/AAAAAAAAB34/0m2gYssdPSE1lflGqcwz5cTgi6LtuJFBwCLcBGAs/s1600/DSCN6055.JPG" height="160px" nwidth="100%"/>
                    <div class="card-bottom">
                        <p class="h4 m-0 mt-2 text-center">Ragi Mudde</p>
                    </div>
                </div>
                </a>
               </div>
               <div class="col-md-3">
                   <a href="login">
                <div class="card">
                    <img src="https://qph.fs.quoracdn.net/main-qimg-cd2b031d0a60959d40a1e10ada522dee-c" height="160px" width="110%"/>
                    <div class="card-bottom">
                        <p class="h4 m-0 mt-2 text-center">Cutting Chai</p>
                    </div>
                </div>
                </a>
               </div>
               <div class="col-md-3">
                   <a href="login" >
                <div class="card">
                    <img src="https://5.imimg.com/data5/OR/OI/MY-10374842/south-indian-food-dosa-500x500.png" height="160px" nwidth="100%"/>
                    <div class="card-bottom">
                        <p class="h4 m-0 mt-2 text-center">Dosa</p>
                    </div>
                </div>
                </a>
               </div>
           </div>
       </div>
   </section>
   <section id="popular-locations">
       <div class="container">
           <div  class="d-flex justify-content-center">
               <p class="popular-headig h6">Popular locations in and around <span class="font-weight-bold">Bengaluru</span></p>
           </div>
           <div class="row mt-4">
                <div class="col-md-4" id="wh" ><a href="login">
                   <div class="d-flex align-items-center locations-div">
                    <p class="h5"style="margin-left: 10px;">Whitefield Area</p>
                       <i class="fa fa-arrow-right ml-auto mr-4"></i>
                    </div></a>
                    </div>
                <div class="col-md-4" id="ja" ><a href="login">
                    <div class="d-flex align-items-center locations-div">
                        <p class=" h5" style="margin-left: 10px;">Jayanagar</p>
                        <i class="fa fa-arrow-right ml-auto mr-4"></i>
                    </div></a>
                    </div>
                <div class="col-md-4" id="ba" ><a href="login">
                    <div class="d-flex align-items-center locations-div">
                        <p class=" h5" style="margin-left: 10px;" >Basavanagudi</p>
                        <i class="fa fa-arrow-right ml-auto mr-4"></i>
                    </div></a>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4" id="jp" ><a href="login">
                    <div class="d-flex align-items-center locations-div">
                        <p class=" h5" style="margin-left: 10px;" >JP Nagar</p>
                        <i class="fa fa-arrow-right ml-auto mr-4"></i>
                    </div></a>
                </div>
                <div class="col-md-4" id="bn" ><a href="login">
                     <div class="d-flex align-items-center locations-div">
                         <p class="h5" style="margin-left: 10px;" >Banashankari</p>
                         <i class="fa fa-arrow-right ml-auto mr-4"></i>
                     </div></a>
                 </div>
                <div class="col-md-4" id="ut" ><a href="login">
                     <div class="d-flex align-items-center locations-div">
                         <p class=" h5" style="margin-left: 10px;">Uttarahalli</p>
                         <i class="fa fa-arrow-right ml-auto mr-4"></i>
                     </div></a>
                 </div>
             </div>
       </div>
   </section>

   <script>
       function feedback(){
            a=document.getElementById("contactname").value
            b=document.getElementById("contactemail").value
            c=document.getElementById("contacttext").value
            if(a=='' || b=='' || c==''){
                alert("Please enter the details")
            }
            else{
                alert("Your feedback submitted successfully")
                document.getElementById("contactname").value=''
                document.getElementById("contactemail").value=''
                document.getElementById("contacttext").value=''
            }
       }
  

   </script>
<%- include ("../views/partials/footer.ejs")  %> 